<h1>Listing drugs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price (yen)</th>
      <th>General name</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
    <% @drugs.each do |drug| %>
      <tr>
        <td class='cells'><%= drug.name %></td>
        <td class='cells'><%= drug.price %></td>
        <td class='cells'><%= drug.general_name %></td>
        <td class='cells'><a href="<%= drug.url %>">e-pharma.jp</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

