<h1>Listing drugs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>General name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drugs.each do |drug| %>
      <tr>
        <td><%= drug.name %></td>
        <td><%= drug.price %></td>
        <td><%= drug.general_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', :user_root %>
