<h1>Listing drugs</h1>

<table class="tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price (yen)</th>
      <th>General name</th>
    </tr>
  </thead>

  <tbody>
    <% @drugs.each do |drug| %>
      <tr>
        <td class='cells'><%= drug.name %></td>
        <td class='cells'><%= drug.price %></td>
        <td class='cells'><%= drug.general_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', :user_root %>
