<h1>Listing stocks</h1>

<table class="tablesorter">
  <thead>
    <tr>
      <th>Date</th>
      <th>Drug</th>
      <th>Quantity available</th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td class='cells'><%= stock.updated_at.to_s.sub(" UTC", "") %></td>
        <td class='cells'><%= Drug.find(stock.drug_id).name %></td>
        <td class='cells'><%= stock.quantity_available %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', :user_root %>
