<div class="container">
  <div id="time_counts" style="min-width: 500px; height: 300px; margin: 0 auto"></div>
  <div id="max_counts" style="min-width: 500px; height: 300px; margin: 0 auto"></div>
  <div id="durations" style="min-width: 500px; height: 300px; margin: 0 auto"></div>
  <div id="pain_levels" style="min-width: 500px; height: 300px; margin: 0 auto"></div>
  <div id="drug_counts" style="min-width: 500px; height: 500px; margin: 0 auto"></div>
  <div id="dose_times" style="min-width: 500px; height: 500px; margin: 0 auto"></div>
</div> <!-- /container -->
 
<%= include_gon %>
