<h1>Welcome to Cluster Headache Pain Logger</h1>
<p><%= 'Login', [ :new, :user_session ] %></p>
<p><%= 'Register', [ :new, :user_registration ] %></p>
<p><%= 'Reset password', [ :new, :user_password ] %></p>
<p><%= 'Resend confirmation e-mail', [ :new, :user_confirmation ] %></p>
